body{
  background-color: rgba(230, 145, 124, 0.541); 
}

h1 {
  color: rgb(211, 176, 59);
  text-align: center;
  font-family: fantasy;
}

p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 1.5;
}

li{
 color: rgb(49, 78, 22);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a{
  text-decoration: none;
  color: rgba(82, 69, 16, 0.651);
}